[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = {index = "https://pypi.douban.com/simple/",version = "*"}
click = "==6.7"
requests = "*"
socketserver = "*"
wtforms = "*"
flask-sqlalchemy = "*"
cymysql = "*"
flask-login = "*"
flask-mail = "*"
flask-migrate = "*"
flask-wtf = "*"

[requires]
python_version = "3.7"
