{% extends "admin/base.html" %}
{% block content %}
<div class="page">
    <div class="page-container">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <!-- 	<a href="#newUserModal" data-toggle="modal" class="btn pull-right">添加用户</a> -->
                    <h4 class="header">用户列表</h4>
                    <button class="btn btn-primary" type="button" onclick="alldelete()">批量删除</button>
                    <table class="table table-striped sortable">
                        <thead>
                            <tr>
                                <th></th>
                                <th>用户ID</th>
                                <th>用户名</th>
                                <th>邮箱</th>
                                <th>赠送数量</th>
                                <th>获赠数量</th>
                                <th>注册日期</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <th><input type="checkbox" name="ck" value="{{user.id }}" /></th>
                                <td id="userid">{{user.id }}</td>
                                <td>{{user.nicename }}</td>
                                <td>{{user.email }}</td>
                                <td>{{user.send_counter }}</td>
                                <td>{{user.receive_counter }}
                                    <!-- <span class="label label-success">已发货</span> -->
                                </td>
                                <td>{{user.create_time }}</td>

                                <td>
                                    <div class="btn-group">
                                        <button class="btn">操作</button>
                                        <button data-toggle="dropdown" class="btn dropdown-toggle">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="javascript:;" onclick="resetPassword(${user.id })">重置密碼</a>
                                                <a href="javascript:;" onclick="deleteUser(${user.id })">删除</a>
                                            </li>
                                        </ul>
                                        <script type="text/javascript">
                                            function deleteUser(id) {
                                                if (confirm("你確定要刪除麽")) {
                                                    if (confirm("你真的要刪除麽，刪了就沒了！"))
                                                        window.location.href = "delete.user?id=" + id;
                                                }
                                            }
                                            function resetPassword(id) {
                                                if (confirm("你確定要修改密碼麽")) {
                                                    window.location.href = "resetPassword.user?id=" + id;
                                                }
                                            }
                                        </script>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="pagination pagination-centered">
                        <ul>
                            <li class="disabled"><a href="#">&laquo;</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="newUserModal" class="modal hide fade">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                <h3>新建用户</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="../pre/register.user" method="post" />
                <div class="control-group">
                    <label for="inputEmail" class="control-label">用户名</label>
                    <div class="controls">
                        <input id="inputEmail" type="text" placeholder="请输入用户名" />
                    </div>
                </div>
                <div class="control-group">
                    <label for="inputCurrentPassword" class="control-label">密码
                    </label>
                    <div class="controls">
                        <input id="inputCurrentPassword" type="password" placeholder="请输入密码" />
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn">关闭</a><input type="submit" data-dismiss="modal"
                        class="btn btn-primary" value="添加用户" />
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}