{% extends "admin/base.html" %}
{% block content %}
<div class="page">
    <div class="page-container">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h4 class="header">用户列表</h4>
                    <button class="btn btn-primary" type="button" onclick="alldelete()">批量删除</button>
                    <table class="table table-striped sortable">
                        <thead>
                            <tr>
                                <th></th>
                                <th>用户ID</th>
                                <th>用户名</th>
                                <th>邮箱</th>
                                <th>赠送数量</th>
                                <th>获赠数量</th>
                                <th>注册日期</th>
                                <th>状态</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <th><input type="checkbox" name="ck" value="{{user.id }}" /></th>
                                <td id="userid">{{user.id }}</td>
                                <td>{{user.nickname }}</td>
                                <td>{{user.email }}</td>
                                <td>{{user.send_counter }}</td>
                                <td>{{user.receive_counter }}
                                    <!-- <span class="label label-success">已发货</span> -->
                                </td>
                                <td>{{user.create_time | default('',true) | time_filter }}</td>
                                <td>
                                    {% if user.status == 1 %}
                                    正常
                                    {% elif user.status == 99%}
                                    封号
                                    {% else %}
                                    管理员注销
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button class="btn">操作</button>
                                        <button data-toggle="dropdown" class="btn dropdown-toggle">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="javascript:;" onclick="deleteUser({{user.id}})">注销账号</a>
                                                <a href="javascript:;" onclick="lockUser({{user.id}})">封号</a>
                                                <a href="javascript:;" onclick="unlockUser({{user.id}})">解封</a>
                                            </li>
                                        </ul>
                                        <script type="text/javascript">
                                            function deleteUser(uid) {
                                                if (confirm("你確定要注销麽")) {
                                                    window.location.href = "delete.user/" + uid;

                                                }
                                            }
                                            function lockUser(uid) {
                                                window.location.href = "lock.user/" + uid;
                                            }

                                            function unlockUser(uid) {
                                                window.location.href = "unlock.user/" + uid;
                                            }
                                        </script>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="pagination pagination-centered">
                        <ul>
                            <li class="disabled"><a href="#">&laquo;</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='back/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='back/js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='back/js/jquery.knob.js') }}"></script>
<script src="{{ url_for('static', filename='back/https://d3js.org/d3.v3.min.js') }}"></script>
<script src="{{ url_for('static', filename='back/js/jquery.sparkline.min.js') }}"></script>
<script src="{{ url_for('static', filename='back/js/toastr.js') }}"></script>
<script src="{{ url_for('static', filename='back/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ url_for('static', filename='back/js/jquery.peity.min.js') }}"></script>
<script src="{{ url_for('static', filename='back/js/fullcalendar.min.js') }}"></script>
<script src="{{ url_for('static', filename='back/js/gcal.js') }}"></script>
<script src="{{ url_for('static', filename='back/js/setup.js') }}"></script>
<script>

    function alldelete() {
        var f = false;
        //得到要删除的主键id
        var arr = [];//用于存要删除的选中的id值
        var ck = document.getElementsByName("ck");//得到一组checkbox  相当于数组
        //循环这一组checkbox让每一个checkbox选中

        for (var i = 0; i < ck.length; i++) {
            if (ck[i].checked == true) {//代表选中
                arr.push(ck[i].value);
                f = true;
            }
        }
        //跳到删除的servlet里去
        if (f == true) {
            if (confirm("您确认要删除吗？")) {
                for (let i in arr) {
                    alert(arr[i]);
                    window.location.href = "delete.user?id=" + arr[i];
                }
            }
        } else {
            alert("请至少选中一条进行批量删除");
        }
    }
</script>
{% endblock %}